html 
    head 
        title "Mi primer plantilla con pug"
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    body
        div(class="container-fluid")
            if productos.length != 0
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Img</th>
                        </tr>
                    </thead>
                    <tbody>
                        each prod in productos
                            tr
                                th=prod.id
                                td=prod.title
                                td=prod.price 
                                td
                                    img(src=`${prod.thumbnail}` style=`width:50px`)
                    </tbody>
                </table>
            else 
                h1 No hay productos