.containerUserConectados{
    margin-top: 10px;
    border-radius: 7px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    transition: all .8s;
    box-shadow: 0px 0px 6px black;
}
.containerUserConectados:hover{
    transform: scale(1.05);
    background-color: rgb(64, 104, 105);
    color: white;
}

.userConectadoImg{
    border-radius: 50%;
    background-image: url('../../img/91087331-icono-de-perfil-de-avatar-predeterminado-para-hombre-marcador-de-posición-de-foto-gris-vector-de-ilu.jpg');
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 5px;
}