<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/../socket.io/socket.io.js"></script>
    <script src="/salaChat.js"></script>
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body class="grey lighten-2">
    
    <h2 class="center-align"> SALA DE CHAT </h2>
    <div class="container container-chat" id="allMsjChat">
       
        
    </div>
    
    <div>
        <form action="" id="chat-form">
            <label for="">Email: </label>
            <input type="text" id="user-email" required>
            <label for="">Texto: </label>
            <input type="text" id="user-txt" required>
            <button type="submit" >Comentar</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>

</body>
</html>